# Database Configuration : you need to edit the .env file
DB_USER=it can be root, admin etc
DB_PASSWORD=your_secure_password_here
DB_NAME=your_database_name_here

# Application Security
SECRET_KEY=your_super_secret_flask_key_here